name: Run mypy and pytest

on:
  push:
    branches:
      - 'main'
    tags:
      - 'v*'
  pull_request:
  merge_group:
    branches: ['main']

jobs:
  pytestmypy:

    runs-on: { matrix.os }
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        python-version: ["3.12"]
    env:
      OS: { matrix.os }
      PYTHON: { matrix.python-version }

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: true
        # we need full history with tags for the version number
        fetch-depth: '0'
    - name: Set up Python { matrix.python-version }
      uses: actions/setup-python@v5
      with:
        python-version: { matrix.python-version }
        cache: 'pip'
        cache-dependency-path: |
          pyproject.toml
    - name: Install dependencies and package
      uses: ./.github/actions/install-dependencies-and-booksai
    #- uses: jakebailey/pyright-action@v1.6.0
    #  with:
    #    version: 1.1.318
    - name: Run Mypy
      run: mypy src/booksai tests/
      env:
        PYTHONPATH: src
    - name: Test with pytest
      run: |
        pytest tests/
      env:
        PYTHONPATH: src
