name: Run mypy and pytest

on:
  push:
    branches: [ main ]
    tags: [ 'v*' ]
  pull_request:

jobs:
  pytestmypy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
          # we need full history with tags for the version number
          fetch-depth: 0

      - name: Set up Python 3.12
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
          cache: pip
          cache-dependency-path: |
            pyproject.toml

      - name: Install dependencies and package
        uses: ./.github/actions/install-dependencies-and-booksai

      - name: Run Mypy
        run: mypy src/booksai tests/
        env:
          PYTHONPATH: src

      - name: Test with pytest
        run: |
          pytest tests/
        env:
          PYTHONPATH: src
